body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  font-weight: normal;
  line-height: 1;
  color: #292627;
  height: 100%;
  }

  /* site header */

  header {
  	height: 7rem;
  	background-color:white;
  	color: #cccccc;
  	transition-property: height;
  	transition-duration: .5s;
  	padding: .8rem 2rem;
  	overflow: hidden;
  	font-size: 2rem;
    position: absolute;
    z-index: 101;
    width: 100vw;

  }

  .fixed{
    position: fixed;
    background-color: white;
    left: 0;
    top: 0;
    width: 100vw;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  }

  .header-logo {
    z-index: 102;
    display: inline-block;
    margin: 0;
    padding: 0;
    transition: all .3s;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    position: absolute;
    top: 3.6rem;
    left: 4.8rem;
  }

  /* lijn voor logo */
  .header-logo::before {
    content:"";
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    height: 0.1rem;
    position: absolute;
    width: 3.6rem;
    left: -4.8rem;
    top:2.2rem;
    }

  .header-logo img {
    width: 45px;
  }

  .licht{
    display: none;
  }

  /*menu toggle*/
  .hamburger {
  	width: 3rem;
  	position: absolute;
  	top: 2.2rem;
  	right: 3rem;
  }
  /*
  .hamburger .lijn{
    width: 3rem;
    height: .1rem;
    background-color: white;
    display: block;
    margin: .7rem auto;
    transition: all 0.3s ease-in-out;
  }

  div.actief .lijn:nth-child(2){opacity: 0;}
  div.actief .lijn:nth-child(1){transform: translateY(1rem) rotate(45deg);}
  div.actief .lijn:nth-child(3){transform: translateY(-.6rem) rotate(-45deg);}
  */

  .hamburger .lijn{
    width: 3rem;
    height: .1rem;
    background-color: #292627;
    display: block;
    margin: .7rem auto;
    transition: all 0.3s ease-in-out;
  }

  div.actief .lijn:nth-child(1){
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  div.actief .lijn:nth-child(3){
    opacity: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);}

  header.uitgeklapt {
  	height: 100vh;
    background-color: white;
  }

  .hamburger:hover{
    cursor: pointer;
  }

  .hamburger:hover .lijn{
    background-color: #cac9c1;
  }

  header ul {
  	margin-top: 8rem;
  	margin-left: 2rem;
  	margin-right: 2rem;
  }

  header ul li {
  	margin-bottom: 2rem;
  	border-bottom: .1rem solid lightgrey;
  	padding-bottom: 2rem;
  }

  header ul li a {
    color: #292627;
    text-decoration: none;
    transition: 0.5s;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }

  header ul li a:hover {
    color: #cac9c1;
    margin-left: 2rem;
  }

  header .socials{
    position: absolute;
    margin-bottom: 2rem;
    margin-left: -1rem;
    top: 65rem;
    left: 5.7rem;
  }

  header .socials i{
    font-size: 2rem;
    color: #292627;
    margin-left: 0.5rem;
    transition: 1s;
  }

  header .socials i:hover{
    transform: scale(1.2);
    cursor:pointer;
  }

  .con{
    position: absolute;
    top: 50rem;
    left: 5rem;
    color: #cac9c1;
  }

  .con h4{
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: bold;
  }

  .con p{
    line-height: 3rem;
    font-size: 1.7rem;
    margin-left: 1rem;
  }

    nav{
      position: absolute;
      left: 15rem;
      top: 37rem;
      margin-top: 0rem;
    }

    nav a{
      margin-right: 1rem;
      color: #292627;
      border: 1px solid #292627;
      padding: 1rem;
      font-size: 1rem;
      text-transform: uppercase;
      transition: 1s;
      text-decoration: none;
    }

    nav a:hover{
      background-color: #292627;
      color:#cac9c1;
      border-radius: 2rem;
    }

  	.light{
  		background-color: #292627;
  		color: #cac9c1;
  	}

    @media (min-width: 700px){

        nav{
          left: 26rem;
        }
    }

  @media (min-width: 900px) {
  	header {
  		background-color: transparent;
  		color: #292627;
  		height: 8rem;
  	}

  	.hamburger {display: none;}

    .con{display: none;}

  	header ul li {
      display: inline-block;
      margin: 0.8rem;
      border-bottom: none;
    }

  	header ul li a {
      color: rgba(0, 0, 0, 0.8);
      list-style: none;
      font-family: "Montserrat", sans-serif;
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
    }

    header ul li a:hover {
      margin-left: 0rem;
    }

  	header ul {
  		position: absolute;
  		top: 2.2rem;
  		right: 4rem;
  		margin: 0;
  	}

    .header-logo {
      top: 4.3rem;
      left: 11rem;
    }

    /* lijn voor logo */
    .header-logo::before {
      width: 9rem;
      left: -11rem;
    }

    header .socials {
      display: none;
      }
  }

  /* hero */

    .hero {
      width: 100%;
      height: 40rem;
      overflow: hidden;
      position: relative;
      background-color: white;
      background-position: center;
      background-size: cover;
      transition: 1s;
    }


  .hero-content {
    padding-top: 20vh;
    max-width: 80%;
    width: 70%;
    padding-top: 22vh;
    padding-bottom: 10vh;
    text-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    }

  .hero-content h1 {
    max-width: 30rem;
    font-weight: 700;
    font-size: 6rem;
    line-height: 1.263;
    letter-spacing: 0;
    margin-top: 0;
    padding-top: 3.2rem;
    position: relative;
    color: #292627;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: white;
    text-transform: uppercase;
    font-weight: 900;
    text-align: left;
    margin-left: 7rem;
  }

    /* lijn boven hero tekst */

    .hero-content h1::before {
      display: block;
      content: "";
      height: 2px;
      width: 10rem;
      background-color: #cac9c1;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
    }

  .hero-content__text {
    position: relative;
  }

  @media (min-width:800px){

     .hero{
       height: 30rem;
     }

      .hero-content h1 {
        font-size: 8rem;
        margin-right: 0;
        margin-left: 10rem;
        margin-bottom: 4.8rem;
        max-width: 90%;
      }

    .hero-content h1::before {
      display: block;
      content: "";
      height: 2px;
      width: 10rem;
      background-color: #cac9c1;
      position: absolute;
      top: 0;
      left: 5.5rem;
      transition: 0.5s;
    }

  }

/* main */

main {
  padding: 5rem 4rem ;
  margin: 15rem 0;
  transition: 1s;
  margin-bottom: 10rem;
}

#filters {
  position: absolute;
  top: 52rem;
  left: 6.5%;
  margin-bottom: 10rem;
}

.button {
  display: inline-block;
  margin-bottom: 1rem;
  cursor: pointer;
  z-index: 2;
  margin-top: 1rem;
  background-color:transparent;
  padding: 0.8rem 1.5rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  color: #292627;
  border: 1px solid #292627;
  text-transform: uppercase;
  transition: 0.7s;
  border-radius: 3px;
}

.button:hover {
  color: #222222;
  background-color: white;
  border-radius: 30px;
}

.button:active,
.button.is-checked {
  background: #292627;
  color: white;
  border-radius: 30px;
  font-weight: bold;
}

.categorie video{
  max-width: 40rem;
  z-index: 2;
}

.categorie div{
  background-color: black;
  height: 30rem;
  max-width: 40rem;
  margin-bottom: 7rem;
  background-size: cover;
  background-position: center;
  margin-left: 1rem;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  transition: 1s;
  text-transform: uppercase;
}

.categorie div:nth-child(1){
  background-image: url("../images/portfolio/rebranding.png");
}

.categorie div:nth-child(2){
  background-image: url("../images/portfolio/self-branding.jpg");
}

.categorie div:nth-child(3){
  background-image: url("../images/portfolio/branding.png");
  background-color: white;
  background-position: center;
}

.categorie div:nth-child(4){
  background-image: url("../images/portfolio/ap.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.categorie div:nth-child(5){
  background-image: url("../images/portfolio/web.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}

.categorie div:nth-child(6){
  background-image: url("../images/portfolio/shop.png" );
}

.categorie div:nth-child(7){
  background-image: url("../images/portfolio/travis.png" );
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #353737;
}

.categorie div:nth-child(8){
  background-image: url("../images/portfolio/sean.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #2195B1;
}

.categorie div:nth-child(9){
  background-image: url("../images/portfolio/shattered.png");
}

.categorie div:nth-child(10){
  background-color: black;
  background-image: url("../images/portfolio/slaves.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

.categorie div:nth-child(11){
  background-color: black;
  background-image: url("../images/portfolio/complex.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

.categorie div:nth-child(12){
  background-image: url("../images/portfolio/passion.gif");
  background-size: cover;
}

.categorie div:nth-child(13){
  background-image: url("../images/portfolio/blond.jpg");
}

.categorie div:nth-child(14){
  background-image: url("../images/portfolio/cover.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.categorie div:nth-child(15){
  background-image: url("../images/portfolio/poster.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.categorie div:nth-child(16){
  background-image: url("../images/portfolio/white.jpg");}

.categorie div:nth-child(17){
  background-image: url("../images/portfolio/eigen.gif");
  background-size: cover;}

.categorie div:nth-child(18){
  background-image: url("../images/portfolio/ogen.png");}

.categorie div:nth-child(19){
  background-image: url("../images/portfolio/wasted.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #292929;}

.categorie div:nth-child(20){
  background-image: url("../images/portfolio/steffi.gif");
}

.categorie div:nth-child(21){
  background-image: url("../images/portfolio/liquid.gif");
}

.categorie a {
  text-align: center;
  display: block;
  top: 1rem;
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.1);
  height: 30rem;
}

.categorie div h2  {
  height: 40rem;
  width: 40rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0px;
  text-align: left;
  font-size: 1.3rem;
  color: #292627;
  transition: 1s;
  line-height: 2rem;
}

.categorie a h2 {
  padding-top: 31rem;
}

h2 span{
  margin: 1rem auto;
  font-style: oblique;
  background-color: #cac9c1;
}

/* main responsive*/


@media (min-width: 900px) {
  .categorie{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem 3rem;
  }

  .categorie div h2  {
    height: 40rem;
    width: 40rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;
    opacity: 0;
    text-align: center;
    padding-top: 26rem;
    font-size: 1.5rem;
    color: #292627;
    transition: 1s;
  }

  .categorie a:hover h2 {
    opacity: 1;
    padding-top: 29.5rem;
  }

  .categorie div{
    -webkit-filter: grayscale(100%);
  	filter: grayscale(100%);}

  .categorie div:hover{
    transform: scale(0.95);
    -webkit-filter: grayscale(0);
  	filter: grayscale(0);
  }

  #filters {
    position: absolute;
    top: 42rem;
    left: 28%;
    margin-bottom: 10rem;
  }

  .categorie div{
  margin-bottom: 0rem;
    max-width :100%;
    max-height: auto;
  }

  .categorie div:nth-child(8){
    background-image: url("../images/portfolio/sean.png");
    grid-column: 1/3;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #2195B1;
  }

  .categorie div:nth-child(9){
    background-image: url("../images/portfolio/shattered.png");
    grid-row: 4;
  }
}

@media (min-width: 1200px) {


  .categorie{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5rem 3rem;
  }

    #filters {
      position: absolute;
      top: 45rem;
      left: 34%;
      margin-bottom: 10rem;
    }

  .categorie div:nth-child(1){
    background-image: url("../images/portfolio/rebranding.png");
    grid-column: 1/3;
    grid-row: 1/3;
    height: 65rem;
  }

  .categorie div:nth-child(15){
    background-image: url("../images/portfolio/poster.jpg");
    grid-column: 1;
    grid-row: 7/9;
    height: 65rem;}

  .categorie div:nth-child(8){
    background-image: url("../images/portfolio/sean.png");
    grid-row:4;
    grid-column: 2/4;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #2195B1;
  }

  .categorie div:nth-child(21){
    background-image: url("../images/portfolio/liquid.gif");
    grid-column: 2/4;
    grid-row: 9/11;
    height: 65rem;
  }

  .categorie div:nth-child(15) h2 {
    color: white;
  }
}

/*footer*/

  footer {
    height: 15rem;
    width: 100%;
    border-top: .1rem solid #020202;
    background-color:#020202;
    position: relative;
  }

  footer h3 {
    font-size: 1rem;
    text-align: center;
    margin-top: 1.6rem;
    padding-bottom: -2rem;
    color: grey;
  }

  footer p{
    display: inline;
  }

  footer p a{
    color: white;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  .links{
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 25%;
    text-decoration: none;
  }

  footer p a:hover{
    color: #fb8b23;
    transition: 0.5s;

  }

  .logo{
      position: absolute;
      left: 4rem;
      top:6rem;
      height: 4rem;
      padding-bottom: 1rem;}



      footer .socials i{
        font-size: 2rem;
        color: white;
        margin-left: 1rem;
        transition: 1s;
      }

      footer .socials i:hover{
        transform: scale(1.2);
        cursor:pointer;
      }

      .socials{
        margin-left: 14%;
        margin-top: 3rem;
        margin-bottom: 2rem;
      }

@media(min-width:800px) {
  footer h3 {
    position: absolute;
    right:3rem;
    bottom:7rem;;
  }

    .links{
      margin-top: 4rem;
      margin-left: 35%;

    }

    footer p{
      font-size: 1.3rem;
    }

    .socials{
      margin-left: 9%;
    }

    .logo{
      height: 5rem;

    }
}

  @media(min-width:1000px) {
    .links{
      margin-left: 40.5%;
    }
    .socials{
      margin-left: 7%;
    }

}
